/* Стили для Toolbar */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили для заголовка */
.title {
    font-weight: bold;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover,
.link:focus,
.link:visited,
.link:active {
    text-decoration: none;
    color: inherit;
}
